* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color1: #fff;
  }
  
  body {
    background-color: black;
    .container {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      .text-container {
        position: absolute;
        height: 100px;
        left: 0;
        right: 0;
        top: calc(100vh / 2 - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        .texto-animado {
          text-transform: uppercase;
          font-size: 40px;
          font-family: sans-serif;
          letter-spacing: 0.3rem;
          color: white;
          background-image: linear-gradient(
            -255deg,
            #dacc4f,
            #c99663,
            #d44f45,
            #a25a12,
            #ecdd52
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% auto;
          animation: textclip 3s linear infinite;
        }
      }
      .menu {
        color: rgb(255, 255, 255, 0.8);
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 20px;
        .label {
          height: 30px;
          width: 30px;
          border-radius: 5px;
          border: 1px solid #fff;
          padding: 5px;
          display: inline-block;
          transition: background-color 0.2 ease 0s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }
        .espaciador {
          margin: 0 10px;
          display: inline-block;
          width: 100px;
          height: 0;
          opacity: 0;
          background-color: white;
          vertical-align: middle;
          border-top: 1px dotted rgba(255, 255, 255, 0.8);
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: -8px;
            right: -10px;
            width: 0px;
            height: 0;
            border-top: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid var(--color1);
          }
        }
        .menu-list {
          display: inline-block;
          border: 1px solid #fff;
          padding: 5px;
          border-radius: 5px;
          height: 30px;
          width: 30px;
          text-align: center;
          vertical-align: middle;
          margin-right: 30px;
          opacity: 0;
          transition: background-color 0.6s ease;
          transition: opacity 0.3s ease;
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
          .menu-link {
            color: inherit;
            text-decoration: none;
          }
          &:nth-child(3) {
            transition-delay: 0.5s;
          }
          &:nth-child(4) {
            transition-delay: 0.7s;
          }
          &:nth-child(5) {
            transition-delay: 0.9s;
          }
          &:nth-child(6) {
            transition-delay: 1.3s;
          }
        }
        &:hover .menu-list {
          opacity: 1;
          transition-delay: 0.2s;
        }
        &:hover .espaciador {
          opacity: 1;
        }
      }
      .burbujas {
        background-color: black;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        span {
          opacity: 0.4;
          position: relative;
          height: 30px;
          min-width: 30px;
          background-color: rgb(251, 255, 0);
          border-radius: 50%;
          box-shadow: 0 0 0 10px rgb(0, 26, 255);
          margin: 0 4px;
          animation: animate 15s linear infinite;
          animation-duration: calc(75s / var(--i));
          &:nth-child(even) {
            background-color: #f7ff02;
            box-shadow: 0 0 0 10px #020f84;
          }
        }
      }
    }
  }
  
  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(1);
    }
  }
  
  @keyframes textclip {
    to {
      background-position: 200%;
    }
  }